@use 'src/styles/colors.scss' as colors;

.remove-button {
    margin: 0.3rem;
    padding: 0.4rem;
    background-color: colors.$failure;
    color: white;
    font-size: 0.8rem;
}

.remove-button:disabled {
    background-color: gray;
}