<div class="user-details">
    <form [formGroup]="userFormGroup">
        <div>
            <label for="username">{{'username'|translate}}:</label><br>
            <input type="text" formControlName="username">
        </div>
        <div>
            <label for="firstName">{{'firstName' | translate}}:</label><br>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label for="lastName">{{'lastName' | translate}}:</label><br>
            <input type="text" formControlName="lastName">
        </div>
        <div>
            <label for="Roles">
                {{'roles' | translate}}: <br>
                    @for (role of user?.roles; track role) {
                    <ng-container formArrayName="roles">
                        <div class="role" >
                            <app-remove-button text="X" [keyToRemove]="role._id" (removeKey)="removeRole($event)" [disabled]="role.role_name==='User' || !userIsAdmin"></app-remove-button>
                            <app-role [role]="role"></app-role>
                        </div>
                    </ng-container>
                }
            </label><br>
            @if (user && userIsAdmin) {
                @if (unusedRoles && unusedRoles.length > 0) {
                    <div [formGroup]="addRoleFormGroup">
                        <label>{{'addRole' | translate}}: </label>
                        <select formControlName="addRole" (change)="addRole()">
                            @for (role of unusedRoles; track role) {
                            <option [value]="role._id">
                                {{role.role_name.toLowerCase() | translate}}
                            </option>   
                            }
                        </select>
                    </div>
                }
                <div class="submit-button">
                    <button (click)="updateUser()">{{'save' | translate}}</button>
                </div>
            }
        </div>
    </form>
</div>