<div class="user-details">
    <form [formGroup]="userFormGroup">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" formControlName="username">
        </div>
        <div>
            <label for="first_name">First name:</label><br>
            <input type="text" formControlName="first_name">
        </div>
        <div>
            <label for="last_name">Last name:</label><br>
            <input type="text" formControlName="last_name">
        </div>
        <div>
            <label for="Roles">
                Roles: <br>
                    @for (role of user?.roles; track role) {
                    <div>
                        <div class="role" >
                            <app-remove-button text="X" [keyToRemove]="role._id" (removeKey)="removeRole($event)" [disabled]="role.role_name==='User' || !userIsAdmin"></app-remove-button>
                            <app-role [role]="role"></app-role>
                        </div>
                    </div>
                }
            </label><br>
            @if (user && userIsAdmin) {
                @if (unusedRoles && unusedRoles.length > 0) {
                    <div [formGroup]="addRoleFormGroup">
                        <label>Add Role: </label>
                        <select formControlName="add_role" (change)="addRole()">
                            @for (role of unusedRoles; track role) {
                            <option [value]="role._id">
                                {{role.role_name}}
                            </option>   
                            }
                        </select>
                    </div>
                }
                <div class="submit-button">
                    <button (click)="updateUser()">Save changes</button>
                </div>
            }
        </div>
    </form>
</div>