<div class="user-details">
    <form [formGroup]="userFormGroup">
        <div>
            <label for="username">{{'username'|translate}}:</label><br>
            <input type="text" formControlName="username">
        </div>
        <div>
            <label for="firstName">{{'first.name' | translate}}:</label><br>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label for="lastName">{{'last.name' | translate}}:</label><br>
            <input type="text" formControlName="lastName">
        </div>
        <div>
            <label for="groups">Groups:</label><br>
            @for (group of user.groups; track group) {
                <div>
                    <app-remove-button text="X" [keyToRemove]="group" (removeKey)="removeGroup($event)" [disabled]="!userIsAdmin"></app-remove-button>
                    {{group}}
                </div>
            }
            @if (user && userIsAdmin) {
                @if (unusedGroups && unusedGroups.length > 0) {
                    <div [formGroup]="addGroupFormGroup">
                        <label>Add Group: </label>
                        <select formControlName="addGroup" (change)="addGroup()">
                            @for (group of unusedGroups; track group) {
                            <option [value]="group">
                                {{group}}
                            </option>   
                            }
                        </select>
                    </div>
                }
            }
        </div>
        <div>
            <label for="Roles">
                {{'roles' | translate}}: <br>
                    @for (role of user.roles; track role) {
                        <div class="role" >
                            <app-remove-button text="X" [keyToRemove]="role" (removeKey)="removeRole($event)" [disabled]="role==='User' || !userIsAdmin"></app-remove-button>
                            <app-role [role]="role"></app-role>
                        </div>
                }
            </label><br>
            @if (user && userIsAdmin) {
                @if (unusedRoles && unusedRoles.length > 0) {
                    <div [formGroup]="addRoleFormGroup">
                        <label>{{'add.role' | translate}}: </label>
                        <select formControlName="addRole" (change)="addRole()">
                            @for (role of unusedRoles; track role) {
                            <option [value]="role">
                                {{role.toLowerCase() | translate}}
                            </option>   
                            }
                        </select>
                    </div>
                }
                <div class="submit-button">
                    <button (click)="updateUser()">{{'save' | translate}}</button>
                </div>
            }
        </div>
    </form>
</div>