.card {
    padding: 1rem;
    overflow-y: scroll;
    max-height: 35vh;
}

.groupName {
    font-size: 2rem;
}

label {
    padding-left: 0.25rem;
}

form {
    padding-top: 1rem;
}

form * {
    font-size: 1.6rem;
}
