<div class="register">
    <form [formGroup]="formGroup" (submit)="register()">
        <div>
            <label for="username">{{'username' | translate}}:</label><br>
            <input type="text" formControlName="username"><br>
            <app-form-error fieldName="Username" [control]="formGroup.controls['username']">
            </app-form-error>
        </div>
        <div>
            <label for="password">{{'password' | translate}}:</label><br>
            <input type="password" formControlName="password"><br>
            <app-form-error fieldName="Password" [control]="formGroup.controls['password']">
            </app-form-error>
        </div>
        <div>
            <label for="confirmPassword">{{'form.input.confirm.password' | translate}}</label><br>
            <input type="password" formControlName="confirmPassword"><br>
            <app-form-error fieldName="confirmPassword" [control]="formGroup.controls['confirmPassword']">
            </app-form-error>
        </div>
        <div>
            <label for="firstName">{{'first.name' | translate}}:</label><br>
            <input type="firstName" formControlName="firstName"><br>
            <app-form-error fieldName="firstName" [control]="formGroup.controls['firstName']">
            </app-form-error>
        </div>
        <div>
            <label for="lastName">{{'last.name' | translate}}:</label><br>
            <input type="lastName" formControlName="lastName"><br>
            <app-form-error fieldName="lastName" [control]="formGroup.controls['lastName']">
            </app-form-error>
        </div>
        <div class="centered">
            <button #submitButton type="submit" [disabled]="!formGroup.valid">{{'register' | translate}}</button>
        </div>
    </form>
    <div class="centered error">
        <span>{{errors()}}</span>
    </div>

</div>