@use 'src/styles/colors.scss' as colors;

.button:hover{
    background-color: colors.$success-indent;
}
  
.button-container {
    height: 10vh;
}

.button {
    width: 100%;
    height: 100%;
    background-color: colors.$success;
    font-size: 3rem;
    color: white;
  }

.round-top {
    border-radius: 1rem 1rem 0rem 0rem;
}