@if(control) {
    @if(control.invalid && control.touched || control.dirty ) {
        @if(control.errors?.["required"]) {
            <small>{{'fieldCantBeEmpty' | translate}}</small>
        }
        @if(control.errors?.["uniqueTitle"]) {
            <small>{{'titleMustBeUnique' | translate}}</small>
        }
        @if(control.errors?.["minlength"] && fieldName) {
            <small>{{'mustBeLongerThan' | translate: {
                label: fieldName | translate,
                min: control.errors?.["minlength"].requiredLength}
                }}
            </small>
        }
        @if(control.errors?.["maxlength"] && fieldName) {
            <small>{{'mustBeShorterThan' | translate: {
                label: fieldName | translate,
                max: control.errors?.["maxlength"].requiredLength}
                }}
            </small>
        }
    }
}
