@if(control) {
    @if(control.invalid && control.touched || control.dirty ) {
        @if(control.errors?.["required"]) {
            <small>{{'form.input.empty' | translate}}</small>
        }
        @if(control.errors?.["uniqueTitle"]) {
            <small>{{'form.input.title.unique' | translate}}</small>
        }
        @if(control.errors?.["minlength"] && fieldName) {
            <small>{{'form.input.longer.than' | translate: {
                label: fieldName | translate,
                min: control.errors?.["minlength"].requiredLength}
                }}
            </small>
        }
        @if(control.errors?.["maxlength"] && fieldName) {
            <small>{{'form.input.shorter.than' | translate: {
                label: fieldName | translate,
                max: control.errors?.["maxlength"].requiredLength}
                }}
            </small>
        }
        @if(control.errors?.["passwordsDontMatch"]) {
            <small>{{"form.input.passwords.must.match" | translate}}</small>
        }
        @if(control.errors?.["groupTitleNotUnique"]) {
            <small>{{"form.input.group.title.unique" | translate}}</small>
        }
    }
}
