@use "src/styles/colors.scss" as colors;

h3 {
    padding-left: 0.2rem;
    display: inline;
}

.wrap {
    word-wrap: break-word;
}

.success {
    color: colors.$success;
}

.failure {
    color: colors.$failure;
}

a {
    text-decoration: none;
    color: colors.$fg-primary;
}

a:hover {
    color: colors.$fg-accent;
}