@use "src/styles/colors.scss" as colors;

div {
    margin-top: 1.5rem;
}

label,
input {
    font-size: 2rem;
    font-weight: 500;
}

.centered {
    justify-content: center;
    display: flex;
}

button {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error {
    font-size: 1.3rem;
    color: colors.$failure;
}