<div class="button-container">
    <button class="button round-top" (click)="openForm()">+</button>
</div>

<ng-template #addformtemplate>
    <div class="add-task">
        <h1 class="dialog-title">Add a new task</h1>
        @if (formGroup) {
            <form class="flex centered" [formGroup]="formGroup" (ngSubmit)="submit()">
                <div>
                    <label for="title">Title:</label><br>
                    <input type="text" formControlName="title">
                    <app-form-error [control]="formGroup.controls['title']">
                    </app-form-error>
                </div>
                <div>
                    <label for="description">Description:</label><br>
                    <textarea formControlName="description">
                    </textarea>
                </div>
                <div>
                    <label for="type">Type:</label><br>
                    <select formControlName="type">
                    <option *ngFor="let type of typeOptions" [ngValue]="type">
                        {{type}}
                    </option>
                    </select>
                    <app-form-error [control]="formGroup.controls['type']">
                    </app-form-error>
                </div>
                <div>
                    <button #submitButton type="submit" class="button round" [ngClass]="{'disabled': !formGroup.valid}">Add Task!</button>
                </div>
            </form>
        }
        @else {
            <p>There was an error creating the form!</p>
        }
    </div>
</ng-template>