<nav class="navbar">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            @if (!(currentUser$ | async)) {
                <a routerLink="register">Register</a>
                <a routerLink="login">Login</a>
            } @else {
                <a class="username" [routerLink]="'/users/current'">
                    {{(currentUser$ | async)?.firstName}}
                    {{(currentUser$ | async)?.lastName}}
                </a>
                <a id="logout" (click)="logout()">Logout</a>
            }
        </li>
    </ul>
</nav>
