<nav class="navbar">
    <ul>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            @if (!(currentUser$ | async)) {
                <a routerLink="register">Register</a>
                <a routerLink="login">Login</a>
            } @else {
                <p class="username">
                    {{(currentUser$ | async)?.first_name}}
                    {{(currentUser$ | async)?.last_name}}
                </p>
                <a href="#" (click)="logout()">Logout</a>
            }
        </li>
    </ul>
</nav>
