@if (formGroup) {
    <form class="flex form" [formGroup]="formGroup" (ngSubmit)="submit(formGroup)">
        <div>
            <label for="title">{{'title' | translate}}:</label><br>
            <input type="text" formControlName="title">
            <app-form-error [control]="formGroup.controls['title']">
            </app-form-error>
        </div>
        <div>
            <label for="description">{{'description' | translate}}:</label><br>
            <textarea formControlName="description">
            </textarea>
        </div>
        <div>
            <label for="type">{{'type' | translate}}:</label><br>
            <select formControlName="type">
                @for (type of taskTypes; track type) {
                <option [value]="type">
                    {{type.toString().toLowerCase()| translate}}
                </option>   
                }
            </select>
            <app-form-error [control]="formGroup.controls['type']">
            </app-form-error>
        </div>
        <div>
            <label for="assignedTo">{{'assignedTo' | translate}}:</label><br>
            <select formControlName="assignedTo">
                @for (user of users$ | async; track user) {
                <option [value]="user.username">
                    {{user.firstName}} {{user.lastName}} {{user.username}}
                </option>   
                }
            </select>
            <app-form-error [control]="formGroup.controls['assignedTo']">
            </app-form-error>
        </div>
        @if(formType == "Edit") {
        <div>
            <label for="status">{{'status' | translate}}:</label><br>
            <select formControlName="status">
                @for (status of taskStatuses; track status) {
                <option [value]="status">
                    {{status.toString().toLowerCase() | translate}}
                </option>   
                }
            </select>
            <app-form-error [control]="formGroup.controls['status']">
            </app-form-error>
        </div>
        <div>
            <label for="createdOn">{{'createdOn' | translate}}:</label><br>
            <input type="datetime" formControlName="createdOn">
            <app-form-error [control]="formGroup.controls['createdOn']">
            </app-form-error>
        </div>
        <div>
            <label for="_id">ID:</label><br>
            <input type="string" formControlName="_id">
            <app-form-error [control]="formGroup.controls['_id']">
            </app-form-error>
        </div>
        }
        @if(formType == "Create" || editing){
            <div>
                <button #submitButton type="submit" class="button round" [disabled]="!formGroup.valid">{{submitText | translate}}</button>
            </div>
        } @else {
            <div>
                <button type="button" class="button round" (click)="enableEdit()">{{'edit' | translate}}</button>
            </div>
        }
    </form>
}
