@use 'src/styles/colors.scss' as colors;

h2 {
    font-weight: 600;
    color: colors.$fg-accent;
}

.list-element {
    display: flex;
    flex-direction: row;
}

.task {
    flex-grow: 1;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 2em;
    overflow-y: scroll;
    height: 50vh;
    border-top: 4px solid colors.$fg-accent;
}

.task-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.remove-button {
    align-self: center;
}